<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap")
        title week2
    body
        .header.d-flex.justify-content-center.fc-light
            .group
                span.f-italic Here’s
                h1.f-italic.f-bold.mb-4 JOANNE
                p.f-italic.mb-6 Founder of ‘’XXXD Official’’
                    br 
                    |& Graphic Designer

                ul.d-flex.justify-space-between
                    li
                        a(href="")
                            img(src="img/behance.svg", alt="behance")
                    li
                        a(href="")
                            img(src="img/facebook.svg", alt="facebook")
                    li
                        a(href="")
                            img(src="img/instagram.svg", alt="instagram")
                    li
                        a(href="")
                            img(src="img/youtube.svg", alt="youtube")

        .about.d-flex.justify-content-center
            .wrap.t-center.f-italic.f-bold
                h2.f-bold.mb-5 About
                img(src="img/photo.png", alt="joanne img")
                p.mb-4 Joanne Chen
                    br
                    |1997/10/10
                    br
                    |National Hex School Normal University
                    br
                    |Department of Visual Design
                ul
                    li.mb-4 Founder of ‘’XXXD Official’’
                    li.mb-4 Graphic Designer
                    li Graphic Intern of Hex School
        .brand.d-flex.justify-content-center.fc-light
            .wrap.t-center
                h2.f-bold.f-italic.mb-2 My Brand ‘’XXXD’’
                p.f-italic.mb-4 Just Keep XXXD Everyday
                p.fz-s.mb-6 2020 年創立的個人服飾品牌
                    br
                    |引領叛逆少年開啟與社會對話的窗口
                    br
                    |主打概念潮流T-Shirt
            .imgContainer
                ul.d-flex.justify-content-center.mb-5
                    li
                        img(src="img/brand_img1.png", alt="brand_img")
                ul.d-flex.justify-space-between
                    li
                        img(src="img/brand_img2.png", alt="brand_img")
                    li
                        img(src="img/brand_img3.png", alt="brand_img")
        .work.d-flex.justify-content-center
                .wrap.t-center
                    h2.f-bold.f-italic.mb-3 Other Works
                    p.fz-s.f-italic.mb-6 2016-2020 年累積的作品
                        br
                        |海報/廣告/攝影/LOGO/3D
                
                .imgContainer.fc-light
                    ul.d-flex.justify-space-between.mb-7
                        li
                            img.mb-2(src="img/work_img1.png", alt="海報設計2017")
                            p.t-center.fz-s 海報設計2017
                        li
                            img.mb-2(src="img/work_img2.png", alt="海報設計/2018")
                            p.t-center.fz-s 海報設計/2018
                        li
                            img.mb-2(src="img/work_img3.png", alt="海報設計/2018")
                            p.t-center.fz-s 海報設計/2018
                    ul.d-flex.justify-space-between.mb-7
                        li
                            img.mb-2(src="img/work_img4.png", alt="概念攝影/2018")
                            p.t-center.fz-s 概念攝影/2018
                        li
                            img.mb-2(src="img/work_img5.png", alt="概念攝影/2018")
                            p.t-center.fz-s 概念攝影/2018
                    ul.d-flex.justify-space-between.mb-7
                        li
                            img.mb-2(src="img/work_img6.png", alt="sasa 酒標設計/2019")
                            p.t-center.fz-s sasa 酒標設計/2019
                        li
                            img.mb-2(src="img/work_img7.png", alt="攝影創作/2018")
                            p.t-center.fz-s 攝影創作/2018
                        li
                            img(src="img/work_img8.png", alt="官網設計/2020")
                            p.t-center.fz-s 官網設計/2020
        footer.fc-light.t-center.f-italic
            h2.mb-2 Contact
            p Mail：xxxd@hexschool.com
                br
                |Phone Number：0910123456